/* Defaults */
{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.p {
	font-size: 12px;
}

.button-body {
	text-align: center;
	background: #FF0066;
	border: 1px solid #FF0066;   
	border-radius: 10px;      
	padding: 10px;
	display: block;

}

.button-body a {
	color: #fff;
	text-decoration: none;
}

.button-h1 {
	text-align: center;
	background: red;
	border: 1px solid red;   
	border-radius: 10px;      
	padding: 10px;
	display: block;
}

.button-h1 a {
	color: #fff;
	text-decoration: none;
}

.button-list {
	text-align: center;
	background: #FF0066;
	border: 1px solid #FF0066;   
	border-radius: 10px;      
	padding: 10px;
	display: block;
}

.button-list a {
	color: #fff;
	text-decoration: none;
}

.button-large a {
	text-align: center;
	width: 40%;
	margin:auto;
	background: #FF0066;
	border: 1px solid #FF0066;   
	border-radius: 10px;      
	padding: 50px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
}

